body.light {
  --bg: #eceff4;
  --textNormal: #2e3440;
  --textTitle: #2e3440;
  --textLink: #2e3440;
  --textHover: #88c0d0;
  --toggle: #88c0d0;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #2e3440;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: #00b0ff;
  --textHover: #5e81ac;
  --toggle: white;
  --hr: hsla(0, 0%, 100%, 0.2);
}

.icon-buffer {
  margin: 0 4px;
}

#trophy-button {
  color: #e5e9f0;
}

#trophy-button:hover {
  color: #81a1c1;
}

a {
  color: var(--textLink);
  transition: 0.5s;
  text-decoration: underline;
}

a:hover {
  color: var(--textHover);
}

p {
  color: var(--textNormal);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--textTitle);
}

.big-title {
  color: var(--bg);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.searchTerm {
  width: 100%;
  border: 1.5px solid var(--textNormal);
  border-right: none;
  padding: 5px;
  outline: none;
  color: #9dbfaf;
  transition: 0.5s;
}

.search:hover .searchTerm {
  border: 3px solid var(--textHover);
  border-right: none;
}

.searchTerm:focus {
  color: #2e3440;
}

.search:hover .searchButton {
  border: 1px solid var(--textHover);
  background: var(--textHover);
}

.searchButton {
  width: 40px;
  border: 1px solid var(--textNormal);
  background: var(--textNormal);
  text-align: center;
  color: #eceff4;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 100%;
}
