body.light {
  --bg: #eceff4;
  --textNormal: #2e3440;
  --textTitle: #2e3440;
  --textLink: #2e3440;
  --textHover: #88c0d0;
  --toggle: #88c0d0;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #2e3440;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: #00b0ff;
  --textHover: #5e81ac;
  --toggle: white;
  --hr: hsla(0, 0%, 100%, 0.2);
}

.icon-buffer {
  margin: 0 4px;
}

a {
  color: var(--textLink);
  transition: 0.5s;
  text-decoration: underline;
}

#trophy-button {
  color: #e5e9f0;
}

#trophy-button:hover {
  color: #81a1c1;
}

a:hover {
  color: var(--textHover);
}

p {
  color: var(--textNormal);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--textTitle);
}

.big-title {
  color: var(--bg);
}
